@model StudentPortal.Models.Course
@{
    ViewBag.Title = "Course Detail";
    bool isEnrolled = ViewBag.Isenrolled != null ? (bool)ViewBag.IsEnrolled : false;
}

<h3>Course Detail</h3>
<div class="container mt-2">
    <div class="row">
        <div class="col-md-3">
                <img src="@Model.ImageUrl" alt="Photo of sunset">
                <h3>@Model.Title</h3>
                <h4>Fee : £@Model.Fee</h4>
                <p class="card-text">@Model.Description</p>
        </div>
    </div>

</div>

@if (User.Identity.IsAuthenticated)
{
    <button class="btn btn-default" disabled="@isEnrolled" onclick="enroll(@Model.CourseId, @Model.Fee)">Enroll</button>
}

<script>
    function enroll(courseId, fee) {
        $.ajax({
            url: "/Home/EnrollCourse",
            type: "POST",
            data: { courseId: courseId, courseFee: fee },
            success: function (data) {
                enrollCourseRsponse(data);
            },
            error: function (result) {
                console.log(result)
            }
        })
    }

    function enrollCourseRsponse(result) {
        if (result)
            toastr.success('Enrolled successfully.');
        else
            toastr.error('Some error occured.')

        setTimeout(function () {
            window.location.href = window.location.href;
        }, 2000)
    }
</script>
